appnope==0.1.0
asyncio==3.4.3
backports.shutil-get-terminal-size==1.0.0
bottle==0.12.9
decorator==4.0.9
flake8==2.5.4
gnureadline==6.3.3
ipython-genutils==0.1.0
mccabe==0.4.0
pep8==1.7.0
pexpect==4.1.0
pickleshare==0.7.2
psycopg2==2.6.1
ptyprocess==0.5.1
pyflakes==1.0.0
simplegeneric==0.8.1
SQLAlchemy==1.0.13
traitlets==4.2.1
websockets==3.1
